<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/client.js"></script>
    <script src="/scripts/userController.js"></script>
</head>
<body ng-app="myApp">
    <h1>Home Page</h1>
    <div ng-controller="userController">
        {{title}}
        <div>Username:</div>
        <input type="text" ng-model="username">
        <div>Password:</div>
        <input type="text" ng-model="password">
        <button type="button" ng-click="register()">Register</button>
        <button type="button" ng-click="login()">Login</button>
        <div>{{status}}</div>
        <div>
            <hr>
            <a>Registered Users</a>
            <button type="button" ng-click="show()">Show</button>
            <ul>
                <li ng-repeat="i in users">
                    <div>
                        Username: {{i.username}}</div>
                    <div>
                        Password: {{i.password}}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>